<div class="auth-buttons">
<button *ngIf="!isLoggedIn()" routerLink="/login">Đăng nhập</button>
<button *ngIf="!isLoggedIn()" routerLink="/register">Đăng ký</button>
  <button *ngIf="isLoggedIn()" (click)="logout()">Đăng xuất</button>
</div>

<h2>Sản phẩm</h2>
<div class="product-grid">
  <div *ngFor="let product of products" class="product-card">
    <a [routerLink]="['/product-detail', product.id]">
      <img [src]="product.image" alt="{{ product.name }}" />
      <h3>{{ product.name }}</h3>
      <p>{{ product.price | currency:'VND' }}</p>
    </a>
  </div>
</div>
