<div class="d-flex">
  <!-- Sidebar cố định -->
  <div class="bg-dark text-white p-3 sidebar" style="width: 250px; min-height: 100vh">
    <h4>Menu</h4>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/">Homepage</a>
      </li>

      <!-- Products Dropdown -->
      <li class="nav-item">
        <div
          class="nav-link text-white d-flex justify-content-between align-items-center"
          style="cursor: pointer"
          (click)="toggleProducts()"
        >
          Products
          <span [innerHTML]="showProducts ? '&#9650;' : '&#9660;'"></span>
        </div>
        <ul class="nav flex-column ms-3" *ngIf="showProducts">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/products">Product List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/products/create">Create Product</a>
          </li>
        </ul>
      </li>

      <!-- Categories Dropdown -->
      <li class="nav-item">
        <div
          class="nav-link text-white d-flex justify-content-between align-items-center"
          style="cursor: pointer"
          (click)="toggleCategories()"
        >
          Categories
          <span [innerHTML]="showCategories ? '&#9650;' : '&#9660;'"></span>
        </div>
        <ul class="nav flex-column ms-3" *ngIf="showCategories">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/categories">Category List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/categories/create">Create Category</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
